
.idea/
.DS_Store
Python scripts/queryLuXun.py
Python scripts/extractWikidataProperties.py
Python scripts/compareID.py
scripts/__pycache__/authenticity_person.cpython-38.pyc
scripts/__pycache__/authenticity_person.cpython-37.pyc
scripts/__pycache__/authenticity_space.cpython-37.pyc
