agate==1.6.3
agate-dbf==0.2.2
agate-excel==0.2.4
agate-sql==0.5.7
appdirs==1.4.3
asgiref==3.3.4
attr==0.3.1
attrs==19.1.0
azure-core==1.14.0
azure-storage-blob==12.8.1
Babel==2.9.1
backoff==1.11.1
beautifulsoup4==4.9.3
blis==0.4.1
boto==2.49.0
boto3==1.16.28
botocore==1.19.28
boxing==0.1.4
CacheControl==0.12.6
cachetools==4.2.0
catalogue==2.0.3
certifi==2021.10.8
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.9
chart-studio==1.1.0
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
csvkit==1.0.6
cymem==2.0.3
dbfread==2.0.7
decorator==4.4.2
depedit==3.1.0.0
distlib==0.3.0
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.4
django-annoying==0.10.6
django-autocomplete-light==3.8.2
django-bootstrap-v5==1.0.4
django-cors-headers==3.6.0
django-debug-toolbar==3.2
django-extensions==3.1.0
django-filter==2.4.0
django-heroku==0.3.1
django-model-utils==4.1.1
django-redis-cache==3.0.0
django-rest-swagger==2.2.0
django-rq==2.3.2
django-treebeard==4.5.1
django-user-agents==0.4.0
djangorestframework==3.12.4
drf-dynamic-fields==0.3.0
drf-generators==0.3.0
drf-yasg==1.20.0
en-core-web-sm==2.3.1
et-xmlfile==1.1.0
filelock==3.0.12
flashtext==2.7
Flask==1.1.1
Flask-API==2.0
Flask-WTF==0.14.3
frictionless==3.45.5
future==0.18.2
geocoder==1.38.1
gevent==21.1.0
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.28.1
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
googlemaps==4.4.5
greenlet==1.0.0
gunicorn==20.1.0
html5lib==1.1
htmlmin==0.1.12
humanize==3.9.0
idna==3.3
importlib-metadata==3.10.1
inflection==0.5.1
iniconfig==1.1.1
ipaddr==2.2.0
isodate==0.6.0
itsdangerous==1.1.0
itypes==1.2.0
Jinja2==2.10.3
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
label-studio==1.0.1
label-studio-converter==0.0.28
langdetect==1.0.9
leather==0.3.3
lockfile==0.12.2
lxml==4.6.2
MarkupSafe==1.1.1
mixpanel==4.4.0
mock==4.0.3
more-itertools==8.7.0
moto==1.3.16.dev122
msgpack==1.0.2
msrest==0.6.21
murmurhash==1.0.5
mwoauth==0.3.7
newsapi-python==0.2.6
nltk==3.5
numpy==1.21.5
oauthlib==3.1.1
olefile==0.46
openapi-codec==1.3.2
openpyxl==3.0.7
ordered-set==4.0.2
orjson==3.4.6
packaging==20.9
pandas==1.3.5
parsedatetime==2.4
pathy==0.4.0
pep517==0.10.0
petl==1.6.8
pgcli==2.1.1
pgspecial==1.13.0
Pillow==7.2.0
pipenv==2018.11.26
plac==1.1.3
plotly==5.1.0
pluggy==0.13.1
preshed==3.0.5
progress==1.5
prompt-toolkit==2.0.10
protobuf==3.17.0
psycopg2==2.7.7
psycopg2-binary==2.8.4
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
Pygments==2.9.0
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pypinyin==0.42.0
pypxlib==2.5
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.2
python-slugify==4.0.1
pytimeparse==1.1.8
pytoml==0.1.21
pytz==2021.3
PyYAML==5.3.1
rarfile==3.1
ratelim==0.1.6
redis==3.5.3
regex==2020.5.7
requests==2.26.0
requests-oauthlib==1.3.0
responses==0.13.3
retrying==1.3.3
rq==1.7.0
rsa==4.7
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
rules==2.2
s3transfer==0.3.4
scikit-learn==0.24.1
scipy==1.6.2
setproctitle==1.2.2
shellingham==1.3.2
simpleeval==0.9.10
simplejson==3.17.6
six==1.16.0
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.3
spacy-lookup==0.1.0
spacy-lookups-data==0.3.2
SQLAlchemy==1.4.22
sqlparse==0.3.1
srsly==2.4.1
stringcase==1.2.0
tabulate==0.8.9
tenacity==7.0.0
terminaltables==3.1.0
text-unidecode==1.3
thinc==8.0.3
threadpoolctl==2.1.0
toml==0.10.2
toposort==1.6
tqdm==4.46.0
typer==0.3.2
typing-extensions==3.7.4.3
ua-parser==0.10.0
ujson==3.0.0
uritemplate==3.0.1
urllib3==1.26.7
user-agents==2.2.0
validators==0.18.1
virtualenv==20.0.20
virtualenv-clone==0.5.4
wasabi==0.4.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==5.2.0
wikibaseintegrator==0.11.1
WTForms==2.3.3
xlrd==2.0.1
xmljson==0.2.0
xmltodict==0.12.0
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.2.0
